@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
hr {
  color: #f313c3;
  width: 100%;
}

button {
  margin: 3px;
}

.app-container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 10% 80% 10%;
}

.content-wrap {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  color: rgb(1, 0, 0);
}

.footer {
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  background-color: #f313c3;
  font-weight: bolder;
  font-size: large;
  color: rgb(1, 0, 0);
  padding: 1rem;
  text-align: center;
}

.hangman-image {
margin-top: 2rem;
height:min-content
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}
